# Backend
backend/target/
backend/.mvn/
*.class

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env

# Mobile
mobile/.dart_tool/
mobile/build/
mobile/.flutter-plugins*

# General
.DS_Store
*.log
.idea/
.vscode/
.env
